.symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.symbol span {
    font-weight: 600;
    font-size: 1.2rem;
    color: #9fa6b7;
}

.symbol img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.success{
    color: #57bc7c;
}

.error{
    color: #d33636;
}

tr {
    height: 80px;
    border-bottom: 1px solid #22262e;
    font-weight: 600;
    font-size: 1.1rem;
}